body, html {
  margin: 0;
  padding: 0;
  text-align: center;
}

.beers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.beers-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  width: 200px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
}

.beers-item button {
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}

nav {
  background-color: rgb(190, 255, 239);
}

.message-box {
  width: 300px;
  height: 300px;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.success {
  color: rgb(4, 112, 4);
}

.message {
  color: black;
}

@media only screen and (max-width: 600px) {
  ul {
    font-size: 16px;
  }
}